//! **************************************************************************
// Written by: Map O.87xd on Tue Nov 07 10:19:42 2017
//! **************************************************************************

SCHEMATIC START;
COMP "o" LOCATE = SITE "P112" LEVEL 1;
COMP "clk" LOCATE = SITE "P127" LEVEL 1;
COMP "onoff" LOCATE = SITE "P15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

